<style>
    body {
        background-color: #2C4251;
        font-family: 'Rubik', sans-serif;
    }

    h1 {
        color: #FF784F;
        font-weight: bold;
    }

    p {
        color: white;
    }

    .btn-primary {
        background-color: #FF784F;
        border-color: #FF784F;
        color: white;
    }

    .btn-primary:hover {
        background-color: gray;
        border-color: gray;
        color: white;
    }

    .btn-secondary {
        margin-left: 5px;
        padding: 2px;
        display: inline-block;
    }

    .burger-name {
        display: inline-block;
    }

    .burger-name-devoured {
        color: gray;
        text-decoration: line-through;
    }

    .alert-primary {
        background-color: white;
        color: #FF784F;
        border-radius: 0%;
        border-color: white;
    }

    footer {
        position: fixed;
        bottom: 15px;
        left: 0px;
        height: 30px;
        width: 100%;
        opacity: 0.6;
    }

    a {
        color: #FF784F;
        text-decoration: none;
    }
</style>

<img class="mx-auto mt-5 mb-5" style="width: 15%; display: block;" src="/img/burger.png" alt="Burger!" />
<h1 class="text-center">Eat-da-Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <ul class="container">
                {{#each burgers}}
                <li>
                    <form action="/devoured" method="POST"><input type="hidden" name="devouredInput" value="{{name}}"><p class="burger-name">{{name}}</p><button type="submit" class="btn btn-secondary">Devour!</button></form>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="container">
                {{#each devouredBurgers}}
                <li>
                    <p class="burger-name-devoured">{{name}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<form class="text-center" action="/burgers" method="POST">
    <div class="form-group mt-3 mb-3">
        <textarea class="form-control mx-auto" name="burgerInput" rows="3" style="max-width: 30%;"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p class="mt-3 mb-5 text-center">Enter a burger you'd like to eat, then click "Submit".</p>

<footer>
    <section class="alert alert-primary" role="alert">
        Built by Marcel Thiemann in Toronto &copy; 2020 | Icons by <u><a href="https://www.flaticon.com/authors/wanicon" target="_blank">wanicon</a></u> from <u><a href="https://www.flaticon.com/" target="_blank">flaticon.com</a></u>
    </section>
</footer>

<script>

</script>